@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');



@media (max-width: 500px) {
	
	body {
		/*background: red;*/
	}
	.container .table {
		font-size: 10px;
		font-family: 'Noto Serif';
	}
	.container td:first-child {
		font-size: 11px;
	}
	.container .thead-dark {
		font-size: 12px;
	}
}

body {
	padding-bottom: 20px;
	  /*font-family: 'Noto Serif', serif;*/
	  font-family: 'Noto Serif';
}

.display-4 {
	font-family: 'Noto Serif';
	font-weight: 700;
	/*font-size: 40px;*/
}

.short-line-yellow {
	width: 2rem;
	height: 7px;
	margin-top: 1rem;
	margin-bottom: 1rem;
	background-color: #ffda44;
}

.navbar {
	/*margin-bottom: 20px;*/
}

body {
	/*padding-top: 60px;*/
}

table {
	margin: 0;
	width: 100%;
	font-size: 12px;
	font-family: 'Noto Serif';
}

td:first-child {
	/*	  background: gray;*/
	  /*color: white;*/
	font-weight: bold;
	font-family: 'Noto Serif';
	font-size: 13px;
}

.thead-dark {
	font-family: 'Noto Serif';
	font-size: 13px;
}

td, th {
	text-align: left;
}

h2, h3 {
	margin-bottom: 1em;
}

section {
	padding-top: 40px;
}

table, tr, td {
	margin: 0;
	padding: 0;
	border: 0;
}

.table-responsive {
	overflow: visible;
	overflow-y: /*hidden*/;
}

.subhead {
	background: #343A40;
	color: white;
}

.drop-down {
	font-family: 'Noto Serif';
}

.footer-body {
	/*font-family: 'Noto Serif';*/
}
